.skills__info {
    border-radius: var(--borderRadius);
    box-shadow: var(--BWShadow);
    background-color: var(--BW);
    bottom: 20%;
    height: 80%;
    position: relative;
    padding-top: 30px;
    text-align: center;
    z-index: -2;
    transition: 0.5s;
}

@media screen and (min-width: 768px){
    .skills__info {
        width: 200px;
    }
}