.menu__botao {
    cursor: pointer;
    height: 30px;
    position: fixed;
    right: 20px;
    width: 30px;
    z-index: 2;
}

.menu__botao > img {
    display: block;
}

@media screen and (min-width: 768px){
    .menu__botao {
        right: calc(10% + 20px);
    }
}