@media screen and (min-width: 0){
    .menu__lista {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 50px;
        border-radius: 50px 50px;
        top: 10%;
        right: 11px;
        background-color: #d4d4d482;
        backdrop-filter: blur(4px);
    }
}

@media screen and (min-width: 768px){
    .menu__lista {
        display: flex;
        flex-direction: row;
        position: static;
        align-self: center;
        width: 100%;
        margin-top: 0;
    }
}