@media screen and (min-width: 0){
    .menu__lista {
        align-items: center;
        border: 1px solid var(--BordaMenu);
        display: none;
        flex-direction: column;
        position: fixed;
        width: 50px;
        border-radius: 50px 50px;
        top: 9vh;
        background-color: var(--BgMenu);
        backdrop-filter: blur(4px);
        animation: menu-in 0.5s forwards;
    }

    .menu__lista:last-child {
        top: calc(10vh + 352px);
    }

    .hide { 
        animation: menu-off 0.5s forwards;
    }
}

@keyframes menu-off {
    0% {
        right: 11px;
    }

    100% {
        right: -100px;
    }
}

@keyframes menu-in {
    0% {
        right: -100px;
    }

    100% {
        right: 11px;
    }
}

@media screen and (min-width: 768px){
    @keyframes menu-off {
        0% {
            right: calc(10% + 10px);
        }
    
        100% {
            right: -100px;
        }
    }
    
    @keyframes menu-in {
        0% {
            right: -100px;
        }
    
        100% {
            right: calc(10% + 10px);
        }
    }
}