@media screen and (min-width: 0){
    .menu__lista {
        align-items: center;
        border: 1px solid var(--BordaMenu);
        display: none;
        flex-direction: column;
        position: fixed;
        width: 50px;
        border-radius: 50px 50px;
        top: 9vh;
        background-color: var(--BgMenu);
        backdrop-filter: blur(4px);
        animation: menu-in 0.3s forwards;
    }

    .menu__lista:last-child {
        top: calc(10vh + 352px);
    }
}

@keyframes menu-off {
    0% {
        transition: 1s;
        right: 11px;
    }

    100% {
        transition: 1s;
        right: -100px;
    }
}

@keyframes menu-in {
    0% {
        transition: 1s;
        right: -100px;
    }

    100% {
        transition: 1s;
        right: 11px;
    }
}

/* @media screen and (min-width: 768px){
    .menu__lista {
        display: flex;
        flex-direction: row;
        position: static;
        align-self: center;
        width: 100%;
        margin-top: 0;
    }
} */