.menu__botao {
    border: 1px solid var(--BordaMenu);
    border-radius: 0 0 50px 50px;
    background-color: var(--BgMenu);
    backdrop-filter: blur(4px);
    cursor: pointer;
    position: fixed;
    top: -1px;
    right: 11px;
    height: 50px;
    width: 50px;
    z-index: 2;
}

.menu__botao > img {
    display: block;
}

@media screen and (min-width: 768px){
    .menu__botao {
        right: calc(10% + 10px);
    }
}