.menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.menu__item:first-child {
    margin-top: 0;
}

.menu__item:last-child {
    margin-bottom: 0    ;
}