.projetos__card {
    background-color: var(--BW);
    box-shadow: var(--BWShadow);
    border-radius: var(--borderRadius);
    margin-bottom: 20px;
    width: 100%;
}

@media screen and (min-width: 768px){
    .projetos__card {
        width: 40%;
    }
}

@media screen and (min-width: 1024px){
    .projetos__card {
        width: 30%;
    }
}