.inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    position: relative;
    /* background-image: url("https://img.freepik.com/fotos-gratis/fundo-de-pintura-grunge_1409-1337.jpg?w=2000"); 
    background-image: url("https://i.gifer.com/iCg.gif");
    background-position: center;
    background-size: 100vh;
    */
}

@media screen and (min-width: 400px){
    .inicio {
        /* height: auto; */
        /* padding: 0 20px; */
        /* position: static; */
    }
}

@media screen and (min-width: 768px){
    .inicio {
        align-items: center;
        gap: 20px;
        height: 72vh;
        /* position: static; */
        padding-top: 50px;
        margin: auto;
    }

    .inicio > div {
        display: flex;
    }
}