.inicio__img {
    border-radius: 100%;
    display: block;
    margin: 20px auto;
    object-fit: cover;
    height: 150px;
    width: 150px;
}

@media screen and (min-width: 768px){
    .inicio__img {
        border-radius: 10px;
        margin: 0;
        margin-left: 20px;
        width: 300px;
        height: 300px;
    }
}