.inicio__titulo {
    font-weight: 700;
    color: var(--titulo);
    text-align: center;
}

@media screen and (min-width: 376px){
    .inicio__titulo {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 375px){
    .inicio__titulo {
        font-size: 2rem;
    }
}