.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 20px;
}

.logo {
    text-transform: uppercase;
    font-weight: 300;
}

/* .logo::before {
    content: "<";
}

.logo::after {
    content: "/>";
} */