:root {
    --nome: rgb(53, 83, 183);
    --linkedin: #0A66C2;
    --instagram: #E1306C;
    --svg: rgb(58, 58, 58);
    --titulo: rgb(48, 48, 48);
    --texto: rgb(58, 58, 58);
    --bgBody: rgb(245, 245, 245);
    --BW: white;
    --BWShadow: 0px 3px 5px rgb(0 0 0 / 30%);
    --BgMenu: #d4d4d482;
    --BordaMenu: rgba(0, 0, 0, 0.13);
    --borderRadius: 7px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgBody);
    margin: auto;
    transition: 0.5s;
}

body.dark {
    --titulo: rgb(245, 245, 245);
    --texto: rgb(245, 245, 245);
    --svg: rgb(245, 245, 245);
    --bgBody: rgb(36, 36, 36);
    --BW: rgb(42, 42, 42);
    --BWShadow: 0px 3px 5px rgba(160, 160, 160, 0.3);
    --seta: invert(1);
    --BgMenu: #00000082;
    --BordaMenu: rgba(255, 255, 255, 0.212);
    transition: 0.5s;
}

button {
    background-color: transparent;
}

a, p, h3, small {
    color: var(--texto);
}

.scroll {
    transform: translateY(100px);
    opacity: 0;
    transition: 0.8s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 0){
    body {
        width: 100%;
    }
}

/* @media screen and (min-width: 768px){
    body {
        width: 90%;
    }
}

@media screen and (min-width: 960px){
    body {
        width: 80%;
    }
} */