svg {
    width: 30px;
    height: 30px;
    fill: var(--svg)
}

/* .github__logo {
    fill: var(--svg);
}

.linkedin__logo {
    fill: var(--svg);
}

.instagram__logo {
    fill: var(--svg);
}

.curriculo__logo {
    fill: var(--svg);
} */

@media screen and (max-width: 290px){
    svg {
        width: 25px;
        height: 25px;
    }
}