svg {
    width: 30px;
    height: 30px;
}

.github__logo {
    fill: black;
}

.linkedin__logo {
    fill: var(--linkedin);
}

.instagram__logo {
    fill: var(--instagram);
}

.curriculo__logo {
    fill: red;
}

@media screen and (max-width: 290px){
    svg {
        width: 25px;
        height: 25px;
    }
}