.formacao__card {
    box-shadow: var(--BWShadow);
    background-color: var(--BW);
    border-radius: var(--borderRadius);
    transform: translateY(100px);
    margin: auto;
    opacity: 0;
    transition: 0.8s;
    max-width: 385px;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 768px){
    .formacao__card {
        margin: 0;
        flex-wrap: wrap;
        width: 40%;
    }
}